.techStackContainer {
    margin-top: 2rem;
    box-shadow: 0 2px 4px rgba(255,255,255,0.1);
}

.techStackTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techStackToolsWrapper {
    margin: 1em 0;
}