.techStackContainer {
    margin-top: 2rem;
    margin-bottom: 4em;

}

.techStackTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techStackToolsWrapper {
    margin: 2em 0;
}