.projectTableContainer {
    width: 100%;
    margin: 6rem 0;
}

.projectTableWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.projectTableGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: .9rem;
}


