@import "../../../assets/mainStyles.css";

.projectPanelContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectPanelWrapper {
    width: 90%;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    height: 43rem;
    border-radius: 1rem;
    box-shadow: 0 0 8px var(--green-light)
}

.projectImage {
    width: 50%;
    border-radius: inherit;
}

.projectDescription {
    width: 50%;
    padding: 4rem 4rem;
    color: var(--grey-light);
}

.projectImage img {
    width: 100%;
    max-height: 45rem;
    object-fit: cover;
}