.arrowsDisplayContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}

.caruselContainer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5em;
    max-width: 100%;
    margin-top: -7em;
}

@media screen and (max-width: 1150px) {
    .arrowsDisplayContainer {
        transform: rotate(90deg);
    }

    .caruselContainer {
        flex-direction: column;
        height: 1vh;
        gap: 0.2em;
        margin-top: -12em
    }

}