@import '../../../assets/animations.css';

.imgTextCombinationContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgTextWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.imgTextWrapper img {
    max-width: 42%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    animation: pulsate 12s linear infinite;
}

.imgSquareWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.imgSquareWrapper img {
    max-width: 30em;
    height: auto;
    object-fit: cover;
    border-radius: 15%;
}

.textContents {
    max-width: 50%;
}