@import "../../../assets/mainStyles.css";

.footerContainerMain {
    width: 100%;
    background-color: var(--grey-dark);
    color: var(--grey-light);
    height: auto;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

}
