@import "../../../assets/mainStyles.css";

.navigationContainer {
    padding: 1em 2.3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--background);
    box-shadow: 0 2px 15px rgba(255,255,255,0.1);
}

.navLinkContainer {
    display: flex;
    flex-direction: row;
}

.navLinkContainer div {
    padding: 0.7em;
}