:root {
    --main-color: #efefef;
    --background: #030e10;
    --peach: #f87459;
    --purple-dark: #672c95;
    --purple-light: #cfaeea;
    --blue-light: #1275da;
    --yellow: #f2e658;
    --green-light: #a9dec5;
    --cyan: #2afee8;
    --grey-light: #c9c9c9;
    --grey-dark: #292929;
    --main-font: 'Assistant', sans-serif;
    --font-special: 'Prompt', sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box
}

html {
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--background);
    font-family: var(--main-font);
    min-height: 100vh;
    color: var(--main-color);
    background-image: url('https://i.ibb.co/2sr2Ykg/nosebg.png');
    margin: 0px;
    width: 100%;

}

a {
    text-decoration: none;
}

.alertBar {
    width: 100%;
    color: #672c95;
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 1rem
}

#tsparticles {
    width: 100%;
    height: 100%;
}

.particlesContainer {
    width: 100%;
    height: 90vh;

    position: relative
}

#aboutParticles {
    width: 50vh;
    height: 50vh;
}

@media screen and (max-width: 1040px) {

    html,
    body {
        overflow-x: hidden;
    }
}