@import "../../../assets/mainStyles.css";

.stackBubble {
    padding: .4rem 1.2rem;
    background: linear-gradient(202deg, rgba(42,254,232,1) 0%, rgba(18,117,218,1) 51%);    
    border: none;
    border-radius: 1rem;
    color: var(--main-color);
    font-weight: 300;
    margin: 0 .2rem
}