@import '../../../assets/mainStyles.css';

.navLink {
    color: var(--green-light);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    letter-spacing: 2.5px;
    transition: ease-in-out .3s all; }

.navLink:link {
    text-decoration: none;
}

.navLink:visited {
    text-decoration: none;
}

.navLink:hover {
    color: var(--cyan);
    letter-spacing: 4px;
}