:root {
    --main-color: #fff7f7;
    --background: #010809;
    --peach:#f87459;
    --purple-dark: #672c95;
    --purple-light: #cfaeea;
    --blue-light: #1275da;
    --yellow: #f2e658;
    --green-light: #a9dec5;
    --cyan: #2afee8;
    --grey-light: #c9c9c9;
    --grey-dark: #292929;
    --main-font: 'Assistant', sans-serif;
    --font-special: 'Prompt', sans-serif;
}

.projectCardContainer {
    width: 10rem;
    height: 14rem;
    cursor: pointer;
    filter: opacity(.75);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
}

.projectCardContainer.programming {
    border: .3rem solid var(--purple-light);
}

.projectCardContainer.designCode {
    border: .3rem solid var(--green-light);
}

.projectCardContainer.designUI {
    border: .3rem solid var(--grey-light);
}

.projectInfoContainer {
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 .35rem;
}