@import "../../../assets/mainStyles.css";

.projectCardContainer {
    width: 10rem;
    height: 14rem;
    cursor: pointer;
    filter: opacity(.75);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
}

.projectCardContainer.programming {
    border: .3rem solid var(--purple-light);
}

.projectCardContainer.designCode {
    border: .3rem solid var(--green-light);
}

.projectCardContainer.designUI {
    border: .3rem solid var(--grey-light);
}

.projectInfoContainer {
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 .35rem;
}