@import '../../../assets/mainStyles.css';

.buttonGeneral {
    padding: 1rem 6rem;
    font-size: 1.25em;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1em;
    letter-spacing: 2px;
    margin: 2em 0
}

.buttonGeneral.light {
    background-color: var(--grey-light)
}

.buttonGeneral.dark {
    background-color: transparent;
    color: var(--main-color);
    border: var(--cyan) solid 1px;
    transition: ease-in-out 1s all;
}

.buttonGeneral.dark:hover {
    box-shadow: 0 0 24px 2px rgba(42, 254, 232, .3);
}

.buttonGeneral.dark:visited {
    color: var(--main-color);
}

.buttonGeneral.dark:active {
    color: var(--main-color);
}

a {
    color: var(--main-color);
}

@media screen and (max-width: 720px) {
    .buttonGeneral {
        font-size: 1em;
        padding: 1em 5em
    }
}