@import '../../../assets/mainStyles.css';

.buttonGeneral {
    padding: 1rem 6rem;
    font-size: 1.25em;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1em;
    letter-spacing: 2px;
}

.buttonGeneral.light {
    background-color: var(--grey-light)
}

.buttonGeneral.dark {
    background-color: transparent;
    color: var(--main-color);
    border: var(--cyan) solid 1px;
}

.buttonGeneral.dark:visited {
    color: var(--main-color);
}

.buttonGeneral.dark:active {
    color: var(--main-color);
}

a {
    color: var(--main-color);
}
