@import '../../../assets/mainStyles.css';

.mainLogoContainer {
    font-family: 'Major Mono Display', monospace;
    font-size: 2em;
    color: var(--purple-dark);
    text-shadow: 3px 3px 0 var(--grey-dark);
}

.mainLogoContainer a {
    color: var(--purple-dark);
    text-shadow: 3px 3px 0 var(--grey-dark);
}

@media screen and (max-width: 1040px) {
    .mainLogoContainer {
        font-size: 1.5em;
    }
}