:root {
    --main-color: #d6d6d6;
    --background: #010809;
    --peach:#f87459;
    --purple-dark: #672c95;
    --purple-light: #cfaeea;
    --blue-light: #1275da;
    --yellow: #f2e658;
    --green-light: #a9dec5;
    --cyan: #2afee8;
    --grey-light: #c9c9c9;
    --main-font: 'Assistant', sans-serif;
    --font-special: 'Prompt', sans-serif;
}

.projectImageContainer {
    position: relative;
    height: 43rem;
}

.projectImageContainer img {
    object-fit: cover;
    height: 43rem;
}


.projectStack {
    position: absolute;
    display: flex;
    top: 1rem;
    left: 2rem;
}