@import "../../../assets/mainStyles.css";

.projectImageContainer {
    position: relative;
    height: 43rem;
}

.projectImageContainer img {
    object-fit: cover;
    height: 43rem;
}


.projectStack {
    position: absolute;
    display: flex;
    top: 1rem;
    left: 2rem;
}