@import "../../../assets/mainStyles.css";

.projectImageContainer {
    position: relative;
    height: 100%;
    border-radius: inherit;
}

.projectImageContainer img {
    object-fit: cover;
    height: 100%;
    border-radius: inherit;
}

.projectStack {
    position: absolute;
    display: flex;
    top: 1rem;
    left: 2rem;
}