:root {
    --main-color: #efefef;
    --background: #030e10;
    --peach: #f87459;
    --purple-dark: #672c95;
    --purple-light: #cfaeea;
    --blue-light: #1275da;
    --green-light: #a9dec5;
    --green-light-transparent: #a9dec578;
    --cyan: #2afee8;
    --grey-light: #c9c9c9;
    --grey-dark: #292929;
    --main-font: 'Assistant', sans-serif;
    --font-special: 'Prompt', sans-serif;
}

.sectionContainer {
    margin-top: 3rem;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.15);
    margin-bottom: 3em;
    box-sizing: border-box;
    width: 100%;
}

.sectionContainerP {
    margin-top: 5em;
    margin-bottom: 3em;
    box-sizing: border-box;
    width: 100%;
}

.centeredContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2em 0 2em 0
}


.sectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    min-height: 100vh;

}

.extended .sectionWrapper {
    min-height: 120vh;
    justify-content: space-around;

}

.sectionWrapper.contact {
    min-height: 65vh;

}

.projects .sectionWrapper {
    min-height: 140vh;
    justify-content: space-around;
}