:root {
    --main-color: #d6d6d6;
    --background: #010809;
    --peach:#f87459;
    --purple-dark: #672c95;
    --purple-light: #cfaeea;
    --blue-light: #1275da;
    --yellow: #f2e658;
    --green-light: #a9dec5;
    --cyan: #2afee8;
    --grey-light: #c9c9c9;
    --grey-dark: #292929;
    --main-font: 'Assistant', sans-serif;
    --font-special: 'Prompt', sans-serif;
}

.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.headerContent {
    font-size: 5.5vh;
    font-family: var(--main-font);
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 3px;
}



.subheaderContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4vh;
}

.subheaderContent {
    font-size: 3vh;
    font-family: var(--main-font);
    color: var(--grey-light);
        letter-spacing: 2px;

}


.symbolContent {
    font-size: 3rem;
    font-family: var(--font-special);
    letter-spacing: 2px;
}


.projectNameText {
    font-style: var(--font-special);
}

.projectNameText.xs {
    font-size: 1.2rem;
}

.projectNameText.s {
    font-size: 1.4rem;
}

.projectNameText.m {
    font-size: 1.85rem;
}

.projectNameText.l {
    font-size: 2rem;
}


.projectYearText {
    font-size: 1rem;
    padding: 0 2rem;

}

.descriptionContainer.m {
    font-size: 1.5rem;
}

.descriptionContainer.l {
    font-size: 1.7rem;
    letter-spacing: 2px;
    line-height: 2.5rem;

}


.sectionHeader {
    font-style: var(--font-special);
    color: var(--main-color);
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sectionSubeader {
    font-style: var(--font-special);
    color: var(--grey-light);
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.titleContainer {
    padding: 1rem 2rem;
    font-style: var(--font-special);
    text-transform: uppercase;
    color: var(--main-color);
}


.descriptionContainer {
    padding: 1rem 2rem;
    font-style: var(--main-font);
    text-transform: uppercase;
    font-weight: 200;
    color: var(--main-color);
}

.descriptionContainer.uppercase {
    text-transform: uppercase;
}

.descriptionContainer.none {
    text-transform: none;
}

.titleContainer.l {
    font-size: 1.9rem;
    letter-spacing: 3px;
    font-weight: 400;

}

.linkContainer {
    color: var(--cyan);
    font-size: 1.2rem;
    padding: .5rem 2rem;
    letter-spacing: 2px;
}

.projectCategoryText {
    font-size: 1rem;
    padding: 0 2rem;

}

.projectCategoryContainer {
    margin: 1.4rem 0;
    text-transform: uppercase;
}

.textCtrContainer {
    width: 100%;
    margin: 3rem 0;
}

.textCtrContainer.xs {
    font-size: 1.3rem;
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
}

.textCtrContainer.s {
    font-size: 1.5rem;
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
}

.textCtrContainer.m {
    font-size: 1.7rem;
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
}

.textCtrContainer.l {
    font-size: 2rem;
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
}